﻿@page
@model OnlinePizzeria.Pages.Forms.CustomPizzaModel
@{
}

<a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>

<div class="text-center container"
    <h1>Create Your Own Pizza!</h1>
    <form method="post" class="mx-auto mt-5 mb-5 pt-5 pb-5 rounded-5 bg-light col-4">
        <input type="text" asp-for="Pizza.PizzaName" placeholder="Give you pizza a name..." />
        </br>

        <input type="checkbox" asp-for="Pizza.TomatoSauce" placeholder="Tomato Sauce" /> Tomato Sauce
        </br>

        <input type="checkbox" asp-for="Pizza.Cheese" placeholder="Cheese" /> Cheese
        </br>

        <input type="checkbox" asp-for="Pizza.Peperoni" placeholder="Peperoni" /> Peperoni
        </br>

        <input type="checkbox" asp-for="Pizza.Mushrooms" placeholder="Mushrooms" /> Mushrooms
        </br>

        <input type="checkbox" asp-for="Pizza.Tuna" placeholder="Tuna" /> Tuna
        </br>

        <input type="checkbox" asp-for="Pizza.Pineapple" placeholder="Pineapple" /> Pineapple
        </br>

         <input type="checkbox" asp-for="Pizza.Ham" placeholder="Ham" /> Ham
        </br>

         <input type="checkbox" asp-for="Pizza.Beef" placeholder="Beef" /> Beef
        </br>

         <button class="btn btn-primary mt-1" type="submit">Order My Pizza</button>
    </form>