﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Online Pizzeria</h1>
        <h2 class="mainSubtitle">You can find pizza for every taste here!</h2>
    </div>    
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">BRING ME THAT PIZZA</a>

</div>
